In order to apply the **Prepare Vocabulary and Embedding** notebook, and the **Classifier** notebook we need for any dataset to have inside the same folder two files train.csv and eval.csv (and optionally a test.csv).

**CSVs should have two columns (one 'text' and one 'label')**

Here is a small example for the dataset sentiment140 fetched from https://www.kaggle.com/kazanova/sentiment140, that originally contains a unique 'train.csv' file.

In [3]:
import pandas as pd
import os

In [4]:
data_folder = os.path.join('../data/data_sentiment140/')
data = pd.read_csv(os.path.join(data_folder,'train.csv'),encoding='latin1', header=None)

In [5]:
data.sample(n=10)

,0,1,2,3,4,5
1164659,4,1979779494,Sun May 31 04:28:27 PDT 2009,NO_QUERY,Ambaba,@DannyLamond danny lamond you are a willy and ...
914686,4,1752940783,Sat May 09 23:31:34 PDT 2009,NO_QUERY,mypetpeevescom,I love Google's Mothers day theme http://tr.i...
401797,0,2057766258,Sat Jun 06 13:37:16 PDT 2009,NO_QUERY,Bridget004,im gonna have to give my laptop in soon i hat...
1285514,4,2002154682,Tue Jun 02 03:19:33 PDT 2009,NO_QUERY,Nesciox,I finished my suggestion for one jewellery com...
353550,0,2032536741,Thu Jun 04 11:24:03 PDT 2009,NO_QUERY,sheandidesigns,@pixieclips the link doesn't work
253434,0,1983985588,Sun May 31 14:13:02 PDT 2009,NO_QUERY,nzsharde,Nooooooo! I don't want to go back to Auckland
371291,0,2050386707,Fri Jun 05 18:34:38 PDT 2009,NO_QUERY,melvolner,@iamluvnjordan I'm hearing ya and thinking abo...
1363383,4,2049499897,Fri Jun 05 16:59:28 PDT 2009,NO_QUERY,slayerroly,@Carlosjr142 exactly... had to take it back a...
1352711,4,2046480273,Fri Jun 05 12:14:25 PDT 2009,NO_QUERY,LindsTx,'brother' meaning... my older brothers best fr...
891386,4,1690797278,Sun May 03 16:24:04 PDT 2009,NO_QUERY,dan_ashcroft,"IDIOTat)SIDRENO Hey, th*nks for the follow! &l..."

In [36]:
data = data.rename(columns={0:'label',5:'text'})
data = data[['text','label']] # Taking only tweets and the the label
data['label'] = data['label'].map({0:'negative',4:'positive'}) # Mapping the label to 'negative' and 'positive'

In [39]:
data = data.sample(frac=1) # Shuffle the whole dataset

##### Creating train/eval/test splits
We are going to take 80% for training 10% for validation and 10% test

In [40]:
data.iloc[:int(len(data)*0.8)].to_csv(os.path.join(data_folder,'train_data.csv'), index=False)
data.iloc[int(len(data)*0.8):int(len(data)*0.9)].to_csv(os.path.join(data_folder,'eval_data.csv'), index=False)
data.iloc[int(len(data)*0.9):].to_csv(os.path.join(data_folder,'test_data.csv'), index=False)